

.num1 {

  background-color: #5DD3FF;
  font-family: 'PT Sans', sans-serif;

}

.num2 {

  background-color: #FFEC78;
  font-family: 'PT Sans', sans-serif;
}

.answer {

  color: #FF3A41;
  font-family: 'Arvo', serif;
}